/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


   ****RESET CSS TROUVER SUR INTERNET****
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

body {
    background: #FFF;
    animation: scroll-body linear;
    animation-timeline: scroll();
}

@keyframes scroll-body {
    0%{
        background:#FFF;
    }
    50%{
        background:#FFF;
    }
    90% {
        background: #1a4c67;
    }
    91% {
        background: #123446;
    }
    92%{
        background: linear-gradient(to left top, #1a4c67, #252323);
    }
    100%{
        background: linear-gradient(to left top, #1a4c67, #252323);
    }
}

body::after {
    position: fixed;
    content: '';
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background: linear-gradient(to right bottom, #FF715B, #252323);
    z-index: -1;
    animation: body-bg 0.8s ease-in-out forwards;
}

@keyframes body-bg {
    0% {
        width: 0vw;
    }
    100% {
        width: 50vw;
    }
}

/* ********* CLASSE UTILISATION GENERALE ********* */

.row-limit-size {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
}

/* ***************** HEADER *************** */

.brand {
    display: block;
    margin-top: 30px;
    transform: scale(90%);
}

.brand > span {
    color: #FF715B;
}

#head-bottom {
    display: flex;
    justify-content: left;
    text-transform: uppercase;
}

#head-bottom > figure > img {
    margin-left: 70px;
    display: block;
}

#head-bottom > nav > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#head-bottom > nav > ul > li > a {
    display: block;
    height: 100px;
    padding: 0 30px;
    line-height: 100px;
    color: #4C5454;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

#head-bottom > nav > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 0px;
    height: 2.3px;
    width: 100%;
    background: #FF715B;
    border-radius: 20px;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

#head-bottom > nav > ul > li > a:hover::after{
    transform: scale(0.7);
}

/* ***************CONTAINER MAIN IMG ****************** */

.img-center{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    animation: stylo-idle 3s infinite;
    position: relative;
}

.invert {
    transform: rotateY(180deg);
    margin-top: 450px;
    padding-bottom: 250px;
    /* animation: scroll-img linear;
    animation-timeline: scroll(); */
}
/* 
@keyframes scroll-img {
    from {
        transform: translateX(-150%);;
        
    }
    to {
        transform: translateX(0%);
    }
} */

@keyframes stylo-idle {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}


.content {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}


.header-text2 {
    position: absolute;
    bottom: 23rem;
    right: 21%;
    transform: translateX(-90%);
}

.header-text2 h1 {
    font: 3rem;
    font-weight: 600;
    color: #FFF;
}
.header-text2 h2 {
    color: #FFF;
    text-align: center;
}

.header-text2 p {
    text-align: center;
    color: #252323;
    font-weight: 700;
    transition: all 0.4s ease-in-out;

}

.header-text2 p:hover{
    color: #FF715B;
}

.cote-text2 {
    position: absolute;
    transform: rotate(-90deg);
    left: 43%;
    bottom: 14rem;
}

.cote-text2 h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #FF715B;
}

.cote-text2 p {
    color: #FF715B;
    font-weight: 500;
}

.text-info2 {
    display: block;
    position: absolute;
    width: 190px;
    left: 33%;
    bottom: 35%;
}

.text-info2 p {
    color: #FF715B;
}

.header-text {
    position: absolute;
    top: -20rem;
    left: 38%;
    transform: translateX(-50%);
}

.header-text h1 {
    font: 3rem;
    font-weight: 600;
    color: #FF715B;
}

.header-text h2 {
    text-align: center;
}

.header-text p {
    text-align: center;
    color: #252323;
    font-weight: 700;
    transition: all 0.4s ease-in-out;

}

.header-text p:hover{
    color: #FF715B;
}

.cote-text {
    position: absolute;
    transform: rotate(-90deg);
    right: 43%;
    top: -30px;
}

.cote-text h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #252323;
}

.cote-text p {
    color: #252323;
    font-weight: 500;
}

.text-info {
    display: block;
    position: absolute;
    width: 190px;
    right: 33%;
    top: -250px;
}

.text-info p {
    color: white;
}

.buynow {
    position: absolute;
    display: block;
    left: 30px;
    text-decoration: none;
    height: 50px;
    align-items: center;
    line-height: 50px;
    width: 130px;
    color: #252323;
    background-color: #FFF;
    border: 1px solid #FF715B;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    box-shadow: 2px 2px 8px #4C5454;
}

.buynow:before {
    content: "";
    background: linear-gradient(
      45deg,
      #FFBA08,
      #FAA307,
      #F48C06,
      #E85D04,
      #DC2F02,
      #D00000,
      #9D0208,
      #6A040F,
      #370617,
      #03071E,
      #370617,
      #6A040F,
      #9D0208,
      #D00000,
      #DC2F02,
      #E85D04,
      #F48C06,
      #FAA307,
      #FFBA08
    );
    position: absolute;
    top: -2.5px;
    left: -2.5px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}

.buynow:hover {
    border: 1px solid #252323;
    background-color: rgba(37, 35, 35, 0.75);
    color: #FFF;
}

/* ************* TEST BOUTON RGB ************************** */


/* *************** TEST SLIDER ************************* */


#slider {
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
    text-align: center;
    margin-top: 200px;
    
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }

 #slides {
    background: transparent;
    position: relative;
    z-index: 1;
    border-radius: 30px;
 }

 #overflow {
    width: 100%;
    overflow: hidden;
 }

 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }

 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }

 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }

 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }

 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 700px;
    
    
 }

 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    border-radius: 30px;
 }

 #slides .slide_1 {
    background-image:url("../img/noback.png");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: saturate(150%) contrast(120%);
 }

 #slides .slide_2 {
    background-image:url("../img/styloimg2-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 100%;
    flex-shrink: 0;
    filter: saturate(150%) contrast(120%);
    
 }

 #slides .slide_3 {
    background-image:url("../img/styloimg3-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: saturate(150%) contrast(120%);
 }

 #slides .slide_4 {
    background-image:url("../img/styloimgbois-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: saturate(150%) contrast(120%);
 }

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }

 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }

 #controls label:hover {
    opacity: 1;
 }

 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    /* background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat; */
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }

 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    /* background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat; */
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }

 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }

 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #252323;
    margin: 0 10px;
 }

 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #FFF;
 }

 .concept {
    color: white;
    margin: 20px 30px;
 }

 #slider form {
    background-color: transparent;
    backdrop-filter: blur(40px);
    box-shadow: 3px 3px 10px #252323;
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
    margin-top: 200px;
 }

 #slider form:hover {
    backdrop-filter: blur(0px) hue-rotate(15deg) contrast(130%);
    width: 500px;
 }

 #slider form input[type="submit"] {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: #FFF;
    border: 1px solid #FFF;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
 }

 #slider form input[type="submit"]:hover {
    width: 150px;
    background-color: #123446;
 }

/* .container > div {
    border: 2px solid #fff;
}

.container > div:hover {
    height: 600px;
    border-radius: 10px;
    border: 2px solid #FF715B;
    background-color: rgba(255, 113, 91, 0.85);
    transition: all 0.4s ease-in-out;
} */

/* *********** SOCIAL MEDIA **************** */

.social-logo > a > img {
    height: 30px;
    width: 30px;
}

.social-logo {
    display: flex;
    position: absolute;
    gap: 10px;
    left: 55%;
    top: -150px;
}



/* **************** BUTTON ******************* */

a.button {
    display: inline-block;
    height: 47px;
    line-height: 47px;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-top: 30px;
    margin-right: 50px;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    transition: all .2s ease;
}

.button-orange {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #FF715B;
    color: #FF715B;
}

.button-orange:hover {
    border: 2px solid #FF715B;
    background-color: #FF715B;
    color: #FFF;
    box-shadow: 2px 1px 8px #FF715B;
}



/* ***************** MEDIA QUERIES ************** */


@media screen and (max-width:1400px) {
    .brand > span {
        color: #252323;
    }

    .buynow{
        left: 0;
    }

    .text-info {
        display: none;
    }

    .cote-text {
        display: none;  
    }

    .header-text {
        top: -30rem;
        left: 28%;
        color:#252323;
    }

    .text-info2 {
        display: none;
    }

    .cote-text2 {
        display: none;  
    }

    .header-text2 {
        bottom: 20%;
        left: 45%;
    }

    .header-text2 h2, .header-text2 h1 {
        color: #123446;
    }
    .social-logo {
        display: none;
    }

    .invert {
        margin-left: 150px;
    }
}


@media screen and (max-width:400px) {
    .text-info {
        display: none;
    }

    .cote-text {
        display: none;   
    }
    .social-logo {
        display: none;
    }
    .header-text2{
        right: 150px;
        color: #252323;
    }

    .invert {
        margin-left: 100px;
    }

    .header-text2 h2, .header-text2 h1 {
        color: #123446;
    }
}